<ion-view hide-nav-bar="true" hide-tabs="true">
	<style type="text/css">
			* {
				margin: 0;
				padding: 0;
			}
			
			.video_box {
				width: 100%;
				height: 4.6rem;
				margin-bottom: 0.3rem;
				position: relative;
				background: white;
				overflow: hidden;
			}
			
			.buy_box {
				width: 100%;
				background: #2B94FA;
			}
			
			.title {
				font-size: 0.34rem;
				color: #FFFFFF;
				letter-spacing: 0;
			}
			
			.content_title {
				width: 100%;
				height: 0.44rem;
			}
			
			.title_ver {
				float: left;
				width: 0.1rem;
				height: 0.44rem;
				background: #2B94FA;
				margin-left: 0.3rem;
			}
			
			.content_title span {
				font-size: 0.34rem;
				color: #2B94FA;
				line-height: 0.34rem;
				position: relative;
				top: 0.05rem;
				margin-left: 0.24rem;
			}
			
			.title_content {
				width: 100%;
				height: 1.4rem;
				margin-top: 0.3rem;
			}
			
			.title_content_img {
				float: left;
				width: 1.4rem;
				height: 1.4rem;
				border-radius: 50%;
				background: #D8D8D8;
				border: 1px solid #979797;
				margin-left: 0.3rem;
			}
			
			.title_content_content {
				float: left;
				margin-left: 0.4rem;
				height: 100%;
			}
			
			.title_content li {
				width: 100%;
				list-style: none;
			}
			
			.content {
				margin-top: 0.3rem;
				font-size: 0.28rem;
				color: #8E8E8E;
				padding: 0 0.3rem;
				box-sizing: border-box;
				margin-bottom: 0.3rem;
			}
			
			.myPopup {
				width: 2.15rem;
				height: 0.675rem;
				text-align: center;
				line-height: 0.675rem;
			}
			
			.confirm_color {
				font-size: 0.28rem;
				color: #2B94FA;
				letter-spacing: 0;
			}
			
			.btn_title {
				width: 4.34rem;
				height: 1.36rem;
				text-align: center;
				line-height: 1.36rem;
				border-bottom: 1px solid #F0F0F0;
				font-size: 0.28re, ;
				color: #232427;
				letter-spacing: 0;
			}
			
			.team-popup .popup-head {
				display: none;
			}
			
			.team-popup .popup {
				padding: 0;
				width: 4.34rem;
				-moz-border-radius: 5px;
				-webkit-border-radius: 5px;
				border-radius: 5px;
			}
			
			.team-popup .popup-body {
				padding: 0;
				height: 1.36rem;
				/*overflow-y:scroll;*/
			}
			
			.team-popup .popup-buttons {
				padding: 0;
				min-height: 0.675rem;
			}
			
			.team-popup .popup-buttons button {
				min-height: 0.675rem;
				border-radius: 5px;
				padding: 0;
				margin: 0;
			}
			
			.team-popup .popup-buttons button:first-child {
				border-right: 1px solid #F0F0F0;
			}
			
			.cancel_color {
				font-size: 0.28rem;
				color: #8E8E8E;
				letter-spacing: 0;
			}
			
			.stop_box {
				width: 100%;
				height: 4.6rem;
				background: rgba(0, 0, 0, 0.30);
				position: absolute;
				top: 0;
				left: 0;
			}
			
			.btn_circle {
				width: 2rem;
				height: 2rem;
				position: absolute;
				border-radius: 50%;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
				background: rgba(255, 255, 255, 0.30);
			}
			
			.btn_circle img {
				width: 0.74rem;
				position: absolute;
				height: 0.89rem;
				top: 0.56rem;
				left: 0.72rem;
			}
			
			.video_controls {
				width: 100%;
				height: 0;
				background: rgba(35, 36, 39, 0.75);
				position: absolute;
				bottom: 0;
			}
			
			.img_box {
				width: 0.34rem;
				height: 0.4rem;
				margin-top: 0.24rem;
				margin-left: 4.7%;
			}
			
			.progress_box {
				float: left;
				width: 45.33%;
				position: absolute;
				left: 12.3%;
				top: 0.42rem;
				height: 0.04rem;
				background: #8E8E8E;
			}
			
			.progress_bar {
				width: 0.14rem;
				height: 100%;
				background: #2B94FA;
				position: absolute;
				top: 0;
				left: -0.14rem;
			}
			
			.currentTime {
				width: 23.6%;
				height: 0.4rem;
				position: absolute;
				top: 0.24rem;
				left: 64.1%;
				font-size: 0.28rem;
				color: #FFFFFF;
				letter-spacing: 0;
			}
			
			.video_img {
				width: 0.4rem;
				height: 0.4rem;
				position: absolute;
				top: 0.24rem;
				left: 90.9%;
			}
			
			.video_img img {
				width: 100%;
				height: auto;
			}
			
			.video_full_box {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
			}
			
			#modelView {
				background-color: #DDDDDD;
				z-index: 0;
				opacity: 0.7;
				height: 100%;
				width: 100%;
				position: relative;
			}
			
			.playvideo {
				padding-top: auto;
				z-index: 1;
				position: relative;
			}
			
			.zy_media {
				z-index: 999999999
			}
		</style>
		<div class="playvideo">
			<div class="zy_media">

			</div>

		</div>
		<ion-content style="margin-top: 4.9rem;background: white;">
			<div class="content_title">
				<div class="title_ver"></div>
				<span>讲师介绍</span>
			</div>
			<div class="title_content">
				<div class="title_content_img">
                  <img src="{{video_data.tavaitar}}"  style="width: 100%;height: 100%;border-radius:50% ;"/>
				</div>
				<div class="title_content_content">
					<li style="font-size: 0.4rem;color: #232427;margin-bottom: 0.24rem;margin-top: 0.1rem;">{{video_data.teacher}}</li>
					<li style="font-size: 0.28rem;color: #8E8E8E;">特级语文教师</li>
				</div>

			</div>
			<div class="content">
				{{video_data.tbrief}}
			</div>
			<div class="content_title">
				<div class="title_ver"></div>
				<span>课程介绍</span>
			</div>
			<div class="content">
				{{video_data.brief}}
			</div>

		</ion-content>
		<div class="bar bar-footer buy_box" style="height: 1rem;" ng-click="myPopup()">
			<button class="button button-clear">Left</button>
			<div class="title">下载APP看视频</div>
			<button class="button button-clear">Right</button>
		</div>
</ion-view>