<ion-view hide-nav-bar="true" hide-tabs="true">
	<style type="text/css">
		.item {
				height: 2.12rem;
				padding: 0;
				padding-left: 0.3rem;
				box-sizing: border-box;
				border: none;
			}
			
			.item .item_box div img {
				width: 100%;
				height: 100%;
				float: left;
			}
			
			.item .item_box {
				height: 100%;
				padding-top: 0.3rem;
				box-sizing: border-box;
				border-bottom: 0.03rem solid #F0F0F0;
			}
			
			.item .item_box div {
				float: left;
			}
	</style>
		<ion-content >
			<a class="item"  ng-repeat="data in  data"   >
				<div class="item_box"  ng-click="govideo(data.id)">
					<div style="width: 2.6rem;height: 1.52rem;margin-right:0.24rem ;">
						<img src="{{data.avaitar}}" style="width: 100%;height: auto;"/>
					</div>
					<div style="width: 4.4rem;">
						<h2 style="font-size: 0.34rem;color: #232427;white-space:  normal;line-height: 0.4rem;font-weight: bold;overflow: hidden;-webkit-line-clamp: 1;display: -webkit-box;text-overflow: ellipsis;-webkit-box-orient: vertical;width:100%;">{{data.title}}</h2>
						<p style="font-size:0.28rem;color: #8E8E8E;letter-spacing: 0;line-height: 0.54rem;">{{data.teacher}}</p>
						<p style="font-size:0.24rem;color: #8E8E8E;letter-spacing: 0;line-height:0.34rem;">一级教师</p>
					</div>
				</div>

			</a>
			
		</ion-content>
	
</ion-view>